<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Scripts/newWeb/assets/img/favicon.ico")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Scripts/newWeb/assets/img/favicon.ico")">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>产品Index</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,600,800" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Main CSS -->
    <link href="@Url.Content("~/Scripts/newWeb/assets/css/main.css")" rel="stylesheet" />

    <!-- Animation CSS -->
    <link href="@Url.Content("~/Scripts/newWeb/assets/css/vendor/aos.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Scripts/bootstrap-table-master/dist/bootstrap-table.css")" rel="stylesheet" />

    <!-- App favicon -->
    <link href="@Url.Content("~/Scripts/newWeb2/assets/images/favicon.ico")" rel="stylesheet" />

    <!-- Daterangepicker css -->
    <link href="@Url.Content("~/Scripts/newWeb2/assets/vendor/daterangepicker/daterangepicker.css")" rel="stylesheet" />

    <!-- Vector Map css -->
    <link href="@Url.Content("~/Scripts/newWeb2/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css")" rel="stylesheet" />

    <!-- Theme Config Js -->
    <script src="@Url.Content("~/Scripts/newWeb2/assets/js/config.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Scripts/newWeb2/assets/css/app.css?v=1.1.1")" rel="stylesheet" type="text/css" id="app-style" />

    <!-- Icons css -->
    <link href="@Url.Content("~/Scripts/newWeb2/assets/css/icons.css")" rel="stylesheet" type="text/css" />

    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>

<body>

    <main id="main01" @*class="container"*@>




        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-2 bg-light-subtle">
                            <li class="breadcrumb-item"><a href="javascript:void(0);" ><i class="ri-home-4-line"></i> 主页</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">库存查询</a></li>
                            @*<li class="breadcrumb-item active" aria-current="page">库存查询</li>*@
                        </ol>
                    </nav>
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group mr-3">
                                <!-- 输入框 -->
                                <input type="text" id="selectInput" class="form-control input-round " placeholder="搜索内容">
                            </div>
                            <div class="form-group mr-3">
                                <!-- 第一个下拉框 -->
                                <select class="form-select" id="selectType" style="width: 100%;" onchange="selectType_onchange();">
                                    <option value="">---选择品类---</option>
                                </select>
                            </div>
                            <div class="form-group mr-3">
                                <!-- 第二个下拉框 -->
                                <select class="form-select" id="selectColor" style="width: 100%;">
                                    <option value="">---当前产品清单---</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- 按钮组 -->
                                <button id="searchBtn" type="button" @*type="submit"*@ class="btn btn-success mr-2">搜索</button>
                                <button id="resetBtn" type="button" class="btn btn-success mr-2">重置</button>
                                @*                            <button type="button" class="btn btn-info mr-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Static Backdrop
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#scrollable-modal">
                        Scrollable Modal
                    </button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <section class="@*pt-4*@ pb-5 aos-init aos-animate" data-aos="fade-up">
                        @*<h3 class="h5 mb-4 font-weight-bold">Table</h3>*@
                        <div class="table-responsive">


                            <table id="table01"
                                   class="table-bordered table-centered mb-0"
                                   data-show-print="true"
                                   data-toggle="table"
                                   data-show-toggle="true"
                                   data-locale="zh-CN"
                                   @*data-height="800"*@
                                   data-fixed-scroll="true"
                                   data-ajax="ajaxRequest"
                                   @*data-pagination="true"*@
                                   @*data-side-pagination="server"*@
                                   @*data-response-handler="responseHandler"*@
                                   @*data-toolbar="#toolbar"*@
                                   @*data-buttons-align="left"*@
                                   data-click-to-select="true"
                                   data-search="true"
                                   data-show-columns="true"
                                   data-maintain-meta-data="true">
                                <thead class="bg-cyan">
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id" data-visible="false">ID</th>
                                        <th data-field="color">颜色</th>
                                        <th data-field="colorCode">色号</th>
                                        <th data-field="process" data-sortable="true">工艺</th>
                                        <th data-field="size">码数</th>
                                        <th data-field="remainingQuantity">数量</th>
                                        <th data-field="explain" data-sortable="true">位置</th>
                                    </tr>
                                </thead>
                            </table>
                        </div> <!-- end table-responsive-->
                    </section>

                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div>





    </main>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> <!-- end modal header -->
                <div class="modal-body">
                    <p class="m-0">I will not close if you click outside me. Don't even try to press escape key.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div> <!-- end modal footer -->
            </div> <!-- end modal content-->
        </div> <!-- end modal dialog-->
    </div> <!-- end modal-->
    <!-- Long Content Scroll Modal -->
    <div class="modal fade" id="scrollable-modal" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="scrollableModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" style="height:500px;" role="document">
            <div class="modal-content" style="height:500px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollableModalTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                        eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    </p>
                    <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                        laoreet rutrum faucibus dolor auctor.
                    </p>
                    <p>
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                        consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                        eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    </p>
                    <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                        laoreet rutrum faucibus dolor auctor.
                    </p>
                    <p>
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                        consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                        eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    </p>
                    <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                        laoreet rutrum faucibus dolor auctor.
                    </p>
                    <p>
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                        consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                        eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    </p>
                    <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                        laoreet rutrum faucibus dolor auctor.
                    </p>
                    <p>
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                        consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                        eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    </p>
                    <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                        laoreet rutrum faucibus dolor auctor.
                    </p>
                    <p>
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                        consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                        eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    </p>
                    <p>
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                        laoreet rutrum faucibus dolor auctor.
                    </p>
                    <p class="mb-0">
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                        consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--------------------------------------
    JAVASCRIPTS
    --------------------------------------->

    <script src="@Url.Content("~/Scripts/newWeb/assets/js/vendor/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newWeb/assets/js/vendor/popper.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newWeb/assets/js/vendor/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newWeb2/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newWeb/assets/js/vendor/share.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newWeb/assets/js/functions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-table-master/dist/bootstrap-table.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-table-master/dist/extensions/print/bootstrap-table-print.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-table-master/dist/bootstrap-table-locale-all.js")" type="text/javascript"></script>

    <!-- Animation -->
    <script src="@Url.Content("~/Scripts/newWeb/assets/js/vendor/aos.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/newWeb2/assets/js/app.js")" type="text/javascript"></script>

    <noscript>
        <style>
            *[data-aos] {
                display: block !important;
                opacity: 1 !important;
                visibility: visible !important;
            }
        </style>
    </noscript>
    <script>
        AOS.init({
            duration: 700
        });
    </script>

    <!-- Disable animation on less than 1200px, change value if you like -->
    <script>
        AOS.init({
            disable: function () {
                var maxWidth = 200;
                return window.innerWidth < maxWidth;
            }
        });
    </script>

    <script>
        //静态弹出框,固定主页面背景,禁止滚动
        const myModal = document.getElementById('scrollable-modal');
        myModal.addEventListener('shown.bs.modal', function () {
            window.parent.postMessage({ type: 'modal', value: false }, '*');
        });
        myModal.addEventListener('hidden.bs.modal', function () {
            window.parent.postMessage({ type: 'modal', value: true }, '*');
        });
    </script>

    <script>
        //设置页面加载完成后事件,更新主页面高度
        const table01 = $('#table01');
        table01.on('load-success.bs.table', function (data) {
            // 表格加载完成后，强制更新滚动容器
            //$('.table-responsive').scrollLeft(0); // 可选：将滚动位置初始化
            // 重设列宽和表格视图
            table01.bootstrapTable('resetView');
            //const height = document.documentElement.scrollHeight;
            const mainDiv = document.getElementById('main01');
            const height = mainDiv.offsetHeight + 50;
            //alert(height);
            window.parent.postMessage({ type: 'height', value: height }, '*');
            //console.log("表格的 HTML 已完全渲染！");
        })
        table01.on('page-change.bs.table', function (data) {
            // 表格加载完成后，强制更新滚动容器
            //$('.table-responsive').scrollLeft(0); // 可选：将滚动位置初始化
            // 重设列宽和表格视图
            table01.bootstrapTable('resetView');
            //const height = document.documentElement.scrollHeight;
            const mainDiv = document.getElementById('main01');
            const height = mainDiv.offsetHeight + 50;
            //alert(height);
            window.parent.postMessage({ type: 'height', value: height }, '*');
            //console.log("表格的 HTML 已完全渲染！");
        })
    </script>


    <script>

        var lastSearch_Val = "";

        $(document).ready(function () {

            // 点击搜索按钮的事件
            $('#searchBtn').click(function () {
                initData();
            });



            //下拉框点击事件
            /*            $('#selectType').parent().find('.dropdown-menu').on('click', 'a.dropdown-item', function () {
                            var selectedText = $(this).text();
                            var selectedValue = $(this).data('value');
                            $('#selectType').text(selectedText);
                            $('#selectType').data('value', selectedValue);
                            $('#selectType').dropdown('toggle');
                            initData();
                        });*/

        });

        //初始化
        function initData() {
            $('#table01').bootstrapTable('refresh'); // 刷新表格
        }

        // 选择品类下拉框改变事件
        function selectType_onchange() {
            initData();
        }

        // 重置按钮的事件
        $('#resetBtn').click(function () {
            $('#selectInput').val('');
            $('#selectType').val('');
            $('#selectColor').val('');

            //重新搜索
            $('#searchBtn').click();
        });


        //ajax加载数据表
        function ajaxRequest(params) {
            // 获取输入的颜色和色号
            var selectInput = $('#selectInput').val().trim();

            if (selectInput != lastSearch_Val) {
                lastSearch_Val = selectInput;
                //清空下拉框
                $('#selectType').empty();
                $('#selectType').append('<option value="">---选择品类---</option>');
            }

            //获取输入的产品工艺
            var selectType = $('#selectType').val().trim();

            //获取输入的颜色
            var selectColor = $('#selectColor').val().trim();


            var url = '/ProductQuery/QueryInventoryData';
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    selectInput: selectInput,
                    selectType: selectType,
                    selectColor: selectColor
                },
                success: function (res) {

                    // 确保数据为JSON对象
                    const data = JSON.parse(res);

                    $('#selectColor').empty();
                    $('#selectColor').append('<option value="">---当前产品清单---</option>');

                    // 用于存储已经添加过的工艺和颜色数据，以便去重
                    let addedProcesses = [];
                    let addedColors = [];

                    var rows_Data = JSON.parse(data.Rows);

                    //循环遍历data数据
                    for (let i = 0; i < rows_Data.length; i++) {
                        //获取工艺
                        var process = rows_Data[i].process;

                        //把工艺数据添加到下拉框,并去重
                        if ($('#selectType option[value="' + process + '"]').length == 0) {
                            $('#selectType').append('<option value="' + process + '">' + process + '</option>');
                        }
                        //获取颜色
                        var color_colorCode = "" + rows_Data[i].color + " [" + rows_Data[i].colorCode + "]";
                        var color = "" + rows_Data[i].color;
                        //获取数量
                        var remainingQuantity = rows_Data[i].remainingQuantity;
                        //把颜色数据添加到下拉框,并去重
                        if ($('#selectColor option[value="' + color_colorCode + '"]').length == 0) {
                            $('#selectColor').append('<option value="' + color + '">' + color_colorCode + '  (' + remainingQuantity + '支)</option>');
                        }

                    }


                    params.success(rows_Data);
                },
                error: function (xhr, status, error) {
                    // 可以在这里添加错误处理逻辑，当前只是保持基本框架
                    console.log("请求出错，状态: " + status + ", 错误: " + error);
                }
            });
        }


    </script>



</body>
</html>